/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow+Semi+Condensed:wght@200;400;700;800&display=swap');


body {
	/* font-family: 'Barlow Condensed', sans-serif; */
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #3e3e3e;
	background-color: #ffffff;
}

a:hover {
    color: #0FA0CE;
}

h2 {
	color: #2b3278;
	font-weight: bold;
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 29px;
}

.wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin-top: 150px;
}

/*Navigation*/
.navigation-wrap-fixed {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}

.navigation-wrap {
	background-color: #ffffff;
	z-index: 100;
	
	background: linear-gradient(130deg, white 50%, #ffd503 50%);
}

.header-nav {
	z-index: 3;
	height: 150px;
}

.header-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	z-index: 10;
}

.header-nav li a {
	display: block;
	padding: 0px 20px;
	text-decoration: none;
	color: #2b3278;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.active-state {
	border-bottom: 3px solid #2b3278;
}

.header-nav li a.language {
	border-left: 1px solid #2b3278;
	padding-right: 0;
	font-weight: 200;
}

/* .header-nav li a:hover,
.header-nav .menu-btn:hover {
	
} */

.header-nav .logo {
	display: block;
	float: left;
	margin-top: 34px;
	text-decoration: none;
}


/* menu */

.header-nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header-nav .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 0px;
	position: relative;
	user-select: none;
	top: 48px;
}

.header-nav .menu-icon .navicon {
  background: #283891;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 27px;
}

.header-nav .menu-icon .navicon:before,
.header-nav .menu-icon .navicon:after {
  background: #283891;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header-nav .menu-icon .navicon:before {
  top: 7px;
}

.header-nav .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */


.header-nav .menu-btn {
  display: none;
}

.header-nav .menu-btn:checked ~ .menu {
  max-height: 305px;
}

.header-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Header Carousel*/
#carousel {
	height: 598px;
	display: block;
	background-color: #ffea5e;
}

.slick-slide img {
	height: 598px;
}

.slick-slide img.mobile-slide {
	display: none;
	opacity: 0;
	visibility: hidden;
}


 /*.overlay-color {
	position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .45);
    opacity: 1; */

.header-text {
	position: absolute;
	top: 203px;
	z-index: 1;
	width: 645px;
}

.header-text h1 {
	font-size: 48px;
	font-weight: 800;
	color: #2b3278;
	line-height: 60px;
}

.button {
	background-color: #ffd503;
	width: 167px;
	height: 55px;
	line-height: 55px;
	margin-bottom: 0;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	font-size: 22px;
	border-radius: 0;
    border: none;
	color: #2b3278;
	text-transform: none;
	letter-spacing: 0;
}

.slick-dots {
    bottom: 48px!important;
}

.slick-dots li button:before {
    font-size: 16px!important;
    opacity: 1!important;
    color: #2b3278!important;
}

.slick-dots li.slick-active button:before {
    opacity: 1!important;
    color: #ffd503!important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0!important;
}


/* Intro Section */

.intro-section {
	margin-top: 70px;
	margin-bottom: 70px;
}

.intro-section h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #ffffff;
	width: 100%;
    max-width: 800px;
	margin: 0 auto;
}

.intro-wrap {
	background-color: #2b3278;
}

/* Section 1 */
.section-1 {
	margin-top: 75px;
	margin-bottom: 75px;
}

.section-1 h2 {
	text-align: center;
}

.section-1 p {
	color: #474747;
	font-size: 25px;
	line-height: 36px;
	margin-bottom: 47px;
}

.main-text {
	width: 100%;
    max-width: 800px;
	margin: 0 auto;
}

.three-images {
	margin: 0 auto;
	max-width: 1160px;
}

.three-images img {
	width: 100%;
	border-radius: 5px;
}

/* Section 2 */
.section-2-wrap {
	background-color: #ffea5e;
}

.section-2 {
	margin-top: 75px;
	margin-bottom: 75px;
}

.image-left img {
	width: 100%;
	border-radius: 5px;
}

.section-2 p {
	color: #474747;
	font-size: 25px;
	line-height: 36px;
	margin-bottom: 47px;
}

.section-2 .row {
	display: flex;
    align-items: center;
}

/* Section 3 */
.section-3 {
	margin-top: 75px;
	margin-bottom: 75px;
	border-bottom: 2px solid #2b3278;
}

.text-left p {
	margin-bottom: 47px;
	color: #474747;
	font-size: 25px;
	line-height: 36px;
}

.icon-with-text img {
	width: 75px;
    padding-right: 20px;
}

.icon-with-text p {
	font-size: 15px;
	line-height: 20px;
}

.icon-with-text {
	margin-bottom: 38px;
    display: flex;
    align-items: end;
}

/* Section 4 */
.section-4 {
	margin-top: 75px;
	margin-bottom: 75px;
}

.section-4 .button {
	margin-top: 20px;
}

.section-4 h2 {
	text-align: center;
}

.contact-us {
	text-align: center;
}

.contact-option {
    display: flex;
    align-items: center;
	width: 314px;
    margin: 0 auto;
}

.contact-option img {
	width: 35px;
    padding-right: 15px;
}

.contact-option p, .contact-option a {
	font-size: 25px;
	line-height: 48px;
	text-decoration: none;
	color: #474747;
	margin-bottom: 0;
}

/* Footer */

.pattern {
	background-image: url("images/chevron.gif");
	background-repeat: repeat-x;
	width:100%;
	height: 21px;
}

.footer-wrap {
	background-color: #182f7c;
	padding-top: 93px;
	padding-bottom: 100px;
}

.copyright {
	margin-top: 120px;
}

.copyright p {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #ffd503;
	margin-bottom: 0;
}

.footer-content h3 {
	font-weight: 600;
	font-size: 20px;
	color: #ffea5e;
	line-height: 21px;
    letter-spacing: 0;
	margin-bottom: 15px;
}

.footer-content p, .footer-content a {
	color: #ffea5e;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 0px;
	font-weight: 400;
	text-decoration: none;
}

/* Media Queries */


@media screen and (max-width: 549px) {
	.section-1 p, .section-2 p, .text-left p {
		font-size: 19px;
		line-height: 21px;
		margin-bottom: 20px;
	}
	.section-1 h2, .section-2 h2, .section-3 h2 {
		text-align: left;
		font-size: 28px;
	}
	/* .section-1, .section-2, .section-3 {
		margin-top: 60px;
	} */
}

@media screen and (max-width: 1000px) {
	.section-2 .columns {
		width: 100%;
		margin-left: 0;
	}
	.section-2 h2 {
		margin-top: 27px;
	}
	.section-2 .row {
		display: block;
	}
	.footer-wrap .columns {
		width: 100%;
		margin-left: 0;
	}
	.footer-wrap .row {	
		display: block;
	}
	.footer-content {
		margin-bottom: 30px;
	}
	.footer-content h3 {
		margin-bottom: 4px;
	}
	.copyright {
		margin-top: 40px;
	}
	.footer-wrap {
		text-align: center;
	}
	
}



@media (min-width: 768px) {
  .header-nav li {
    float: left;
  }
  .header-nav li a {
    /* padding: 20px 30px;  */
  }
  .header-nav .menu {
    clear: none;
    float: right;
    max-height: none;
	margin-top: 63px;
  }
  .header-nav .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
	.header-nav .menu {
		position: absolute;
		top: 150px;
		width: 100%;
		left: 0;
		background-color: #ffffff;
	}
	.header-nav li a {
		padding: 27px 38px;
	}
	.header-nav li a.language {
		border-left: 0;
	}
	.header-nav li a {
		font-size: 22px;
	}

	.mobile-banner {
		background-color: #ffea5e;
	}

	.header-text {
		width: 80%;
		top: 400px;
	}

	.header-text h1 {
		font-size: 27px;
		font-weight: 800;
		color: #2b3278;
		line-height: 34px;
	}

	.contact-option {
		width: 234px;
	}
	.contact-option img {
		width: 25px;
	}
	.contact-option p, .contact-option a {
		font-size: 18px;
		line-height: 48px;
	}
	.navigation-wrap {
		background: #ffffff;
	}
	.active-state {
		border-left: 3px solid #2b3278;
		border-bottom: 0;
	}

	#carousel {
		height: 360px;
		display: block;
		background-color: #ffea5e;
	}

	.slick-slide img,
	.slick-dots {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	.slide {
		position: relative
	}

	.slick-slide img.mobile-slide {
		display: block;
		opacity: 100;
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		width: 100%;
		height: 360px;
		object-fit: cover;
		object-position: top;
	}

	.intro-wrap {
		margin-top: 380px;
	}
}


@media screen and (max-width: 380px) {
	.header-nav .logo {
		margin-top: 46px;
	}
	.header-nav .logo img {
		width: 200px;
	}
}


@media screen and (max-width: 1000px) and (min-width: 768px) {
	.header-nav li a {
		padding: 0px 10px;
		font-size: 15px;
		line-height: 18px;
	}
}


