{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        {% comment %} #2C3278
        #FFD405 {% endcomment %}
        .btn-info {
            background-color: #2C3278 !important;
            border-color: #2C3278 !important;
        }

        .easyWizardSteps {
            list-style: none;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px
        }
        
        .easyWizardSteps li {
            font-size: 18px;
            display: inline-block;
            padding: 10px;
            color: #B0B1B3;
            margin-right: 20px;
        }
        
        .easyWizardSteps li span {
            font-size: 24px
        }
        
        .easyWizardSteps li.current {
            color: #000
        }
        
        .easyWizardButtons {
            overflow: hidden;
            padding: 10px;
        }
        
        .easyWizardButtons button,
        .easyWizardButtons .submit {
            cursor: pointer
        }
        
        .easyWizardButtons .prev {
            float: left
        }
        
        .easyWizardButtons .next,
        .easyWizardButtons .submit {
            float: right
        }

        #container_block {
            background-color: #FFD405;
            border-radius: 15px;
            margin-top: 5rem;
        }
        body {
            background-color: #2C3278;
        }

        .wrapper {
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin-top: 150px;
        }
        
        /*Navigation*/
        .navigation-wrap-fixed {
            position: relative;
            top:0;
            left:0;
            width: 100%;
        }
        
        .navigation-wrap {
            background-color: #ffffff;
            z-index: 2;
            
            background: linear-gradient(130deg, white 50%, #ffd503 50%);
        }
        
        .header-nav {
            z-index: 3;
            height: 150px;
        }
        
        .header-nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            z-index: 10;
        }
        
        .header-nav li a {
            display: block;
            padding: 0px 20px;
            text-decoration: none;
            color: #2b3278;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
        }
        
        .header-nav li a.language {
            border-left: 1px solid #2b3278;
            padding-right: 0;
            font-weight: 200;
        }
        
        /* .header-nav li a:hover,
        .header-nav .menu-btn:hover {
            
        } */
        
        .header-nav .logo {
            display: block;
            float: left;
            margin-top: 34px;
            text-decoration: none;
        }
        
        
        /* menu */
        
        .header-nav .menu {
          clear: both;
          max-height: 0;
          transition: max-height .2s ease-out;
        }
        
        /* menu icon */
        
        .header-nav .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: right;
            padding: 28px 0px;
            position: relative;
            user-select: none;
            top: 48px;
        }
        
        .header-nav .menu-icon .navicon {
          background: #283891;
          display: block;
          height: 3px;
          position: relative;
          transition: background .2s ease-out;
          width: 27px;
        }
        
        .header-nav .menu-icon .navicon:before,
        .header-nav .menu-icon .navicon:after {
          background: #283891;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }
        
        .header-nav .menu-icon .navicon:before {
          top: 7px;
        }
        
        .header-nav .menu-icon .navicon:after {
          top: -7px;
        }
        
        /* menu btn */
        
        
        .header-nav .menu-btn {
          display: none;
        }
        
        .header-nav .menu-btn:checked ~ .menu {
          max-height: 305px;
        }
        
        .header-nav .menu-btn:checked ~ .menu-icon .navicon {
          background: transparent;
        }
        
        .header-nav .menu-btn:checked ~ .menu-icon .navicon:before {
          transform: rotate(-45deg);
        }
        
        .header-nav .menu-btn:checked ~ .menu-icon .navicon:after {
          transform: rotate(45deg);
        }
        
        .header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        .header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
          top: 0;
        }
        
    </style>
</head>


<body>
    <div class="navigation-wrap navigation-wrap-fixed">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <div class="header-nav" id="pakdonkie_home">
                        <a class="logo">
                            <img src="https://www.pakdonkie.co.za/images/pakdonkie-logo.png" alt="Pakdonkie" class="header_branding_logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-3">
    </div> 
    <div class="col-6" id="container_block"> 
    <form id="myWizard" type="get" action="" class="form-horizontal">
        <section class="step" data-step-title="Booking Details" id="booking_details">
            <div id="start_date" class="mb-3 row control-group"> 
                <label for="id_close_date" class="col-form-label col-sm-2 control-label">Start Date</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="start_date" class="dateinput form-control hasDatepicker" required="" id="id_start">
                </div>
            </div>
            <div id="end_date" class="mb-3 row control-group"> 
                <label for="id_close_date" class="col-form-label col-sm-2 control-label">End Date</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="close_date" class="dateinput form-control hasDatepicker" required="" id="id_end">
                </div>
            </div>
            <div id="category_div" class="mb-3 row control-group"> 
                <label for="id_category" class="col-form-label col-sm-2 control-label">Category</label>
                <div class="col-sm-6 controls">
                    <select name="category" id="id_category">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>
        <section class="step" data-step-title="Cost Details" id="cost_details">
            <div id="start_date_cost" class="mb-3 row control-group"> 
                <label for="id_start_date" class="col-form-label col-sm-2 control-label">Start Date: </label>
                <div class="col-sm-6 controls">
                    <label class="col-form-label col-sm-6 control-label" id="id_start_label"></label>
                </div>
            </div>
            <div id="end_date_cost" class="mb-3 row control-group"> 
                <label for="id_close_date" class="col-form-label col-sm-2 control-label">End Date: </label>
                <div class="col-sm-6 controls">
                    <label class="col-form-label col-sm-6 control-label" id="id_end_label"></label>
                </div>
            </div>
            <div id="cost_div" class="mb-3 row control-group"> 
                <label for="id_cost" class="col-form-label col-sm-2 control-label">Cost: </label>
                <div class="col-sm-6 controls">
                    <label class="col-form-label col-sm-6 control-label" id="id_cost_label"></label>
                </div>
            </div>
            <div id="trailer_div" class="mb-3 row control-group" style="display: none;"> 
                <label for="id_trailer" class="col-form-label col-sm-2 control-label">Trailer: </label>
                <div class="col-sm-6 controls">
                    <label class="col-form-label col-sm-6 control-label" id="id_trailer_label"></label>
                </div>
            </div>
        </section>
        <section class="step" data-step-title="User Details" id="user_details">
            <div id="name" class="mb-3 row control-group"> 
                <label for="id_name" class="col-form-label col-sm-2 control-label">Name</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="name" class="form-control" required="" id="id_name">
                </div>
            </div>
            <div id="surname" class="mb-3 row control-group"> 
                <label for="id_surname" class="col-form-label col-sm-2 control-label">Surname</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="surname" class="form-control" required="" id="id_surname">
                </div>
            </div>
            <div id="id" class="mb-3 row control-group"> 
                <label for="id_id" class="col-form-label col-sm-2 control-label">ID Number</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="id" class="form-control" required="" id="id_id">
                </div>
            </div>
            <div id="phone" class="mb-3 row control-group"> 
                <label for="id_phone" class="col-form-label col-sm-2 control-label">Phone Number</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="phone" class="form-control" required="" id="id_phone">
                </div>
            </div>
            <div id="email" class="mb-3 row control-group"> 
                <label for="id_email" class="col-form-label col-sm-2 control-label">Email</label>
                <div class="col-sm-6 controls">
                    <input type="text" name="email" class="form-control" required="" id="id_email">
                </div>
            </div>
        </section>
        <section class="step" data-step-title="Confirm" id="confirm_details">
            <div id="reference" class="mb-3 row control-group"> 
                <label for="id_start_date" class="col-form-label col-sm-2 control-label">Reference number: </label>
                <div class="col-sm-6 controls">
                    <label class="col-form-label col-sm-6 control-label" id="id_reference_number"></label>
                    <div id="pay_button_div"></div>
                </div>
            </div>
        </section>
    </form>
</div>
    <div class="col-3">
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <div class="toast" style="position: absolute; top: 0; right: 0;" data-delay="10000">
                <div class="toast-header">
                <strong class="mr-auto">System Message</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="toast-body" id="error-message">
                </div>
            </div>
        </div>
    </div> 
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static "js/easyWizard/jquery.easyWizard.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var error = function(msg, step){
        $('#myWizard').easyWizard('goToStep', step);
        $("#error-message").text(msg);
        $('.toast').toast('show');
    };
    $( function() {
        var trailer = 0;
        $('#myWizard').easyWizard({
            buttonsClass: 'btn btn-info',
            submitButtonClass: 'btn btn-info',
            before: function(wizardObj, currentStepObj, nextStepObj) {
                if(currentStepObj[0].id == "booking_details"){
                    var start = $("#id_start")[0].value;
                    var end = $("#id_end")[0].value;
                    var category = $("#id_category")[0].value;
                    $.ajax({
                        type: 'POST',
                        url: `/rental/get_available_trailer/`,
                        data: JSON.stringify({"start": start, "end": end, "category": category}),
                        contentType: 'application/json',
                        success: function(e){
                          if(e.trailer > 0){
                            trailer = e.trailer;
                            $("#id_start_label").text(e.meta.start);
                            $("#id_end_label").text(e.meta.end);
                            $("#id_cost_label").text(e.meta.cost);
                            $("#id_trailer_label").text(e.trailer);
                          } else {
                            error("No trailer available for selected dates", 1);
                          }
                        }
                      });
                }
                if(currentStepObj[0].id == "user_details" && nextStepObj[0].id == "confirm_details"){
                    var start = $("#id_start_label").text();
                    var end = $("#id_end_label").text();
                    var category = $("#id_category")[0].value;
                    var cost = $("#id_cost_label").text();
                    var trailer = $("#id_trailer_label").text();
                    var name = $("#id_name")[0].value;
                    var surname = $("#id_surname")[0].value;
                    var email = $("#id_email")[0].value;
                    var phone = $("#id_phone")[0].value;
                    var id = $("#id_id")[0].value;
                    $.ajax({
                        type: 'POST',
                        url: `/rental/make_booking_submit/`,
                        data: JSON.stringify({"start": start, "end": end, "category": category, "cost": cost, "trailer": trailer, "name": name, "surname": surname, "email": email, "phone": phone, "id": id}),
                        contentType: 'application/json',
                        success: function(e){
                            console.log(e)
                            if(e.id > 0){
                                $("#id_reference_number").text(e.reference);
                                $("#pay_button_div").append(e.form);
                            } else {
                                error("An error occured, please try again later")
                            }
                        }
                      });

                }

            },
            after: function(wizardObj, prevStepObj, currentStepObj) {
                console.log(wizardObj);
            },
            beforeSubmit: function(wizardObj) {
                console.log(wizardObj)
            }
        });
        $(".dateinput").datepicker({ format: 'yyyy-mm-dd' });
    });
</script>

</html>